cat << 'EOF' > .gitignore

# Python virtual environments and caches

venv/

__pycache__/

*.pyc


# C/C++ build files and binaries

cmake-build-*/
*.out
*.o
*.obj
*.bit
# IDE folders
.idea/
.vscode/
EOF

.DS_Store
**/.DS_Store
